* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #d4145a, #fbb03b);
}

.registration-form-container {
  margin-top: 2rem;
}

.form-title {
  text-align: center;
  font-family: 'Times New Roman';
}

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  min-height: 300px;
  width: 400px;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.form-details {
  display: flex;
  flex-direction: column;
}

.label-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.input-field {
  margin-top: 0.2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 1.4rem;
  width: 100%;
  padding: 6px 8px;
}

.btn-submit-container {
  margin-top: 1.5rem;
  text-align: center;
}

.btn-submit {
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgba(231, 227, 227, 0.27);
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 0.8rem;
}

.btn-submit:hover {
  background: rgba(255, 255, 255, 0.27);
}
